<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Hi!</h1>
        <p class="lead">Welcome to this awesome app, feel free to use this app however you want!</p>
        <hr class="my-4">
        <small>So you don't have your own Automata?<a class="nav-link p-0 d-inline" (click)="goToCreateAutomata()"> Click here to create it</a></small>
    </div>

    <div class="row">
        <div *ngFor="let item of items" class="col-md-4">
            <a (click)="goToAutomataPage(item.title)">
                <div class="card flex-md-row mb-4 box-shadow h-md-250" style="height: 250px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">{{item.title}}</h3>
                        <div class="card-text mb-auto">{{item.content}}</div>
                        <img class="card-img-right flex-auto d-none d-md-block img-fluid" style="max-height: 150px;" src="{{item.img}}">
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>